.footer {
    width:100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height:5vh;
    background-color: #dedede;
    text-align: center;
    position: fixed;
    bottom:0;
    align-items: center;
    color:white;
}

@media screen and (max-width: 768px) {
    .footer {
        display: none;
    }
}

